
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contact Us</h1>

@section script{
    <script type="text/javascript">
            $(document).ready(function () {
                $('ul li a ').removeClass('active');
                $("#ContactUs").children().addClass('active');
            });
    </script>
}

