
<section class="jumbotron text-center">
    <div class="container">
        @*<environment names="Development">
            <h1>Development Environment</h1>
        </environment>
        <environment names="Production">
            <h1>Production Environment</h1>
        </environment>*@
        <h1>Welcome to Book Store</h1>
        <p class="lead text-muted"> This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr>
        <a class="btn btn-primary btn-lg" href="#" role="button">Search Books</a>
    </div>
</section>

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/logo.png"  style="height:200px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Think & Grow Rich</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                        </div>
                        <small class="text-muted">Auther</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 " style="width: 18rem;">
                <img src="~/images/book1.jfif"  style="height:200px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Power of Subconcius Mind</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                        </div>
                        <small class="text-muted">Auther</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/book2.jfif" style="height:200px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Head You Wins</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                        </div>
                        <small class="text-muted">Auther</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section script{ 
<script type="text/javascript">
    $(document).ready(function () {
      //  alert("Index Page Loaded Successfully.")
    });
</script>
}















@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/css/Site.css" rel="stylesheet" />
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
        <title>Index</title>
    </head>
    <body class="container">*@


@*<h1 class="h1">Welcome to Home Page...</h1>
    <img src="~/images/logo.png" alt="Logo" class="logo" />
    @Html.ActionLink("All Book", "GetAllBooks", "Book")*@



@*<input type="button" value="Click Me" class="btn btn-primary" />*@
<!--<script>
        $(document).ready(function () {
          //  alert("Script Loaded");
        });
    </script>
</body>-->
@*</html>*@
