
<section class="jumbotron text-center">
    <div class="container">
        @*<environment names="Development">
                <h1>Development Environment</h1>
            </environment>
            <environment names="Production">
                <h1>Production Environment</h1>
            </environment>*@
        <h1>Welcome to Book Store</h1>
        <p class="lead text-muted">
            Online Book store is an online web application where the customer can purchase books
            online. Through a web browser the customers can search for a book by its title or author,
            later can add to the shopping cart and finally purchase using credit card transaction.
        </p>
        <hr>
        <a class="btn btn-primary btn-lg" href="#" role="button">Search Books</a>
    </div>
</section>

<div class="container">
    @*@await Component.InvokeAsync("TopBooks")*@ 
    <vc:top-books count="3"></vc:top-books>
  

</div>

@section script{
    <script type="text/javascript">
        $(document).ready(function () {
           // alert("Index Page Loaded Successfully.");
            $('ul li a ').removeClass('active');
            $("#IndexLink").children().addClass('active');
        });
    </script>
}















@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/css/Site.css" rel="stylesheet" />
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
        <title>Index</title>
    </head>
    <body class="container">*@


@*<h1 class="h1">Welcome to Home Page...</h1>
    <img src="~/images/logo.png" alt="Logo" class="logo" />
    @Html.ActionLink("All Book", "GetAllBooks", "Book")*@



@*<input type="button" value="Click Me" class="btn btn-primary" />*@
<!--<script>
        $(document).ready(function () {
          //  alert("Script Loaded");
        });
    </script>
</body>-->
@*</html>*@
