@inject BookStore.Repository.ILanguageRepository _langRepository
@model BookModel;
<div class="container">
    <h3 class="display-4">Add New Book</h3>

    @if (ViewBag.isSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Book added successfully. <a asp-controller="Book" asp-action="GetBook" asp-route-id="@ViewBag.BookId">Click Here</a> to view details.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" id="loader" style="display:none;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="post" enctype="multipart/form-data" asp-action="AddBook" asp-controller="Book">
       
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Auther"></label>
            <input asp-for="Auther" class="form-control" />
            <span asp-validation-for="Auther" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category"></label>
            <input asp-for="Category" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Pages"></label>
            <input asp-for="Pages" class="form-control" />
            <span asp-validation-for="Pages" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LanguageId"></label>
            <select class="form-control" asp-for="LanguageId" asp-items="@(await _langRepository.Languages()).Select(x=>new SelectListItem() { Text=x.Text, Value=x.Id.ToString() })">
                <option value="">Choose Language</option>
            </select>
            <span asp-validation-for="LanguageId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CoverPhoto"></label>
            <div class="custom-file">
                <input asp-for="CoverPhoto" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span asp-validation-for="CoverPhoto" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GallaryFiles"></label>
            <div class="custom-file">
                <input asp-for="GallaryFiles" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span asp-validation-for="GallaryFiles" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BookPdf"></label>
            <div class="custom-file">
                <input asp-for="BookPdf" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span asp-validation-for="BookPdf" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</div>

@section script{
    <script>
        function mycomplete() {
            //alert("Ajax Complete");
        }
        function addsuccess() {
            alert("Ajax Success");
        }
        function addfailure() {
            alert("Ajax Fail");
        }
    </script>
}